<!-- @format -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="./fruit.css" />
    <title>Document</title>
  </head>
  <body>
    <div class="fruit-list">
      {% for fruit in fruits %}
      <li class="fruit">
        {{fruit.name}}<span>({{fruit.descript}})</span> : {{fruit.price}} 원
      </li>
      {% endfor %}
    </div>
  </body>
</html>
